body{
	background:grey;
}

.board {
	text-align: center;
	width: 300px; /* Total horizontal dimensions */
	height: 300px; /* Total vertical dimensions */
	display: grid; /* Enables CSS Grid */ 
	grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
}

.box {
	text-align:center;
  border: 1px solid cyan; 
  background: grey;/* Shows the lines in the CSS grid */
  right:50%;
  top: 50%;

}

.login{
	
	text-align: center;
	background: grey;
}

.Players{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}